
<h1>Editar Usuario</h1>

<form action="/editar_usuario/<%= usuario.id_usuario %>" method="POST">
  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" value="<%= usuario.nombre %>" required>
  <br>
  <label for="correo">Correo Electrónico:</label>
  <input type="email" name="correo" value="<%= usuario.correo_electronico %>" required>
  <br>
  <div class="form-group">
    <select class="form-control" name="id_tipo_usuario" required>
        <option value="">Selecciona un tipo de usuario</option>
        <option value="1">Estudiante</option>
        <option value="2">Administrador</option>
        <option value="3">Comite</option>
    </select>
</div>
 
  <input type="submit" value="Guardar Cambios">
</form>
