<!DOCTYPE html>
<html>
<head>
  <title>Menú Principal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: "Times New Roman", sans-serif;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f3f3f3;
    }
    
    .button {
      display: inline-block;
      margin: 10px;
      padding: 10px 20px;
      font-size: 16px;
      text-decoration: none;
      background-color: #4285F4;
      color: white;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <h1>Bienvenido al Menú Principal</h1>
  <a href="/subir_consultoria" class="button">Subir Consultoría</a>
  <a href="/ver_consultoria" class="button">Ver Consultoría</a>
  <a href="/historial_consultorias" class="button">Historial de Consultorías</a>
  <a href="/registros" class="button">Registrar nuevo usuario</a>
  <form action="/logout" method="POST">
    <input type="submit" class="button" value="Cerrar sesión">
  </form>
</body>
</html>
